<div class="card" style="width: 10rem">
  <p>Total Price: {{ sum | number : "1.1-2" }}$</p>
</div>
<div class="row">
  <div class="card shadow-lg">
    <div style="position: absolute; right: 100px">
      <p>List of items</p>
    </div>
    <div class="mb-lg-3 m-5">
      <ul>
        <li class="list-group-item m-3" *ngFor="let property of cartProperties">
          <app-property-cart-item
            [cartProp]="property"
          ></app-property-cart-item>
        </li>
      </ul>
    </div>
  </div>
</div>
